* {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: 'ralewaymedium';
    src: url('../fonts/raleway-medium-webfont.woff2') format('woff2'),
    url('../fonts/raleway-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'ralewaylight';
    src: url('../fonts/raleway-light-webfont.woff2') format('woff2'),
    url('../fonts/raleway-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.container {
    width: 1200px;
    position: relative;
    margin: 0 auto;
}

header {
    height: 40px;
    background-color: black;
}

.logo {
    position: absolute;
    color: white;
    top: 13px;
    left: 70px;
}

h1 {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'ralewaymedium', sans-serif;
    letter-spacing: 1px;
}

span {
    color: #39b4a8;
}

div .menu {
    position: absolute;
    right: 25px;
    margin: 20px;
    margin-top: 0;
    top: 11px
}

.section1 {
    font-family: 'ralewaymedium', sans-serif;
}

.menu a {
    margin-right: 40px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    text-decoration: none;
    font-size: 13px;
    margin-top: 0;
    font-family: 'ralewaymedium', sans-serif;
    letter-spacing: 1px;
}

.section1 article {
    height: 504px;
    background: #eeeeee; /* Old browsers */
    background: -moz-linear-gradient(top, #eeeeee 61%, #cccccc 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eeeeee 61%,#cccccc 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eeeeee 61%,#cccccc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}

.black_chair {
    position: relative;
    left: 25px;
    bottom: 25px;
    /*box-sizing: border-box;*/
}

.black_chair img {
    width: 50%;
    position: absolute;
    top: 90px;
}

.section1 article .arrow_left {
    text-decoration: none;
    font-size: 80px;
    font-weight: 100;
    position: absolute;
    top: 208px;
    color: #39b4a8;
    left: 70px;
    font-family: 'ralewaylight', sans-serif;
}

.section1 article .arrow_right {
    text-decoration: none;
    font-size: 80px;
    font-weight: 100;
    position: absolute;
    top: 208px;
    color: #39b4a8;
    right: 77px;
    font-family: 'ralewaylight', sans-serif;
}


.section1_b {
    position: absolute;
    display: block;
    width: 650px;
    height: 100%;
    top: 0;
    right: 0;
}

.chair_sit {
    position: absolute;
    top: 135px;
    left: 40px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 600;
}

.chair_sit h2 {
    font-weight: 400;
    font-size: 40px;
}

.dropdown {
    position: absolute;
    width: 120px;
    height: 95px;
    background-color: black;
    top: 12px;
    right: 260px;
}

.dropdown div{
    position: absolute;
    color: white;
    line-height: 27px;
    top: 8px;
    left: 12px;
    font-size: 16px;
}

.dropdown_triangle {
    position: absolute;
}

.arrow-up {
    position: absolute;
    width: 0;
    height: 0;
    left: 310px;
    top: 2px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid black;
}

h2 span {
    font-weight: 700;
}

.section1_b_text {
    position: absolute;
    width: 450px;
    bottom: 205px;
    left: 5px;
    text-align: center;
}

.section1_b_text p {
    font-weight: 200;
    font-size: 14px;
    line-height: 22px;
    font-family: 'ralewaylight', sans-serif;
}

.section1_b_button div {
    position: absolute;
    width: 264px;
    height: 55px;
    background-color: #39b4a8;
    color: white;
    border-radius: 10px;
    box-shadow: none;
    bottom: 125px;
    left: 88px;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
}

.section1_b_button div p {
    position: absolute;
    top: 16px;
    left: 44px;
}

.section2 {
    height: 350px;
}

.box_chair1 {
    position: absolute;
    top: 28px;
    left: 68px;
    width: 329px;
    height: 225px;
}

.box_chair2 {
    position: absolute;
    top: 28px;
    left: 426px;
    width: 329px;
    height: 225px;
    background-color: blue;
}

.box_chair3 {
    position: absolute;
    top: 28px;
    right: 78px;
    width: 340px;
    height: 225px;
    background-color: #008CBA;
}

.overlay {
    position: absolute;
    top: 28px;
    right: 78px;
    width: 340px;
    height: 255px;
    background-color: white;
    opacity: 0;
    transition: .5s ease;
    border: 1px solid gainsboro;
}

.overlay_container:hover .overlay {
    opacity: 1;
}

.underline2 {
    position: absolute;
    top: 48px;
    left: 23px;
    height: 7px;
    width: 138px;
    background-color: #39b4a8;;
}

.overlay_text1 {
    position: absolute;
    width: 290px;
    font-family: 'ralewaylight', sans-serif;
    font-size: 14px;
    line-height: 20px;
    top: 68px;
    left: 23px;
}

.overlay_text2 {
    position: absolute;
    width: 290px;
    font-family: 'ralewaylight', sans-serif;
    font-size: 14px;
    line-height: 20px;
    left: 23px;
    bottom: 45px;
}

.box_chair3_kind p{
    position: absolute;
    font-family: 'ralewaymedium', sans-serif;
    top: 27px;
    left: 24px;
    font-weight: 600;
}

.section2 article div .chair1 {
    position: absolute;
    right: 0;
    bottom: 14px;
    width: 329px;
    height: 61px;
    background-color: rgba(255,250,250,0.5);
}

.chair1_kind p {
    position: absolute;
    font-family: 'ralewaymedium', sans-serif;
    top: 13px;
    left: 18px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

.section2 article div .chair2 {
    position: absolute;
    right: 0;
    bottom: 14px;
    width: 329px;
    height: 61px;
    background-color: rgba(255,250,250,0.5);
}

.chair2_kind p {
    position: absolute;
    font-family: 'ralewaymedium', sans-serif;
    top: 13px;
    left: 11px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 1px;
}

.underline {
    position: absolute;
    top: 31px;
    left: 12px;
    height: 7px;
    width: 140px;
    background-color: #39b4a8;;
}